@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
    height: 100vh;
    overflow: auto;
  }

  html {
    height: 100%;
    overflow: auto;
  }

  #root {
    height: 100%;
    overflow: auto;
  }
}